
body{
height: 100vh;
width: 100vw;
overflow: hidden;
/* background-image: url('../images/tree.png') ;
background-position: center;
background-repeat: no-repeat;
background-size: contain; */
font-family: 'Montserrat Alternates', sans-serif;
}

.stats{
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
}
.stats input{ outline: none;
    border: none;
    border: 0.1px solid #0275d8 !important;   
    border-radius: 0.5rem; 
}
.controlls ul{
  display: flex;
  justify-content: space-between;
  width: 100%;
padding: 0;
}
.controlls li{
    list-style: none;
    font-size: 1.5rem;
    cursor: pointer;
}
.container{
width: 100%;
margin: 0 auto;
overflow: hidden ;

}
img{
    height: 1.8rem;
}

.objects{ 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
   
    overflow: hidden;
    position: relative;    
    height: 100vh;  
    width: 100%;   
    margin: 0  auto;
 
}

.game-item{     
    display: flex;
    position: absolute;
    top: -450px;
    opacity: .85;
    animation: fall ease-in infinite; 

    -webkit-animation: fall ease-in infinite;

    -moz-animation: fall ease-in infinite;

    -webkit-animation-fill-mode: forwards;

    -moz-animation-fill-mode: forwards;

    animation-fill-mode: forwards;
}

@keyframes fall {
    from {
        position: absolute;
        top: -450px;
    }

    to {
        position: absolute;
        top: 2000px;
    }
}

@-webkit-keyframes fall {
    from {
        position: absolute;
        top: -450px;
    }

    to {
        position: absolute;
        top:  2000px;
    }
}

@-moz-keyframes fall {
    from {
        position: absolute;
        top: -450px;
    }

    to {
        position: absolute;
        top:  2000px;
    }
}


.basket{
position: absolute;
width: 100%;
text-align: center;
opacity: 0.9;
margin: 0 auto;
bottom: 1.2rem;
left: 0;
right: 0;
overflow: hidden;

/* background-color: #252424; */
}

.basket img{   
height: 10vh;  
width: 6rem;
transition:  0.75s ease linear;
position: relative;
margin-bottom: 1rem;
padding: 0;
margin-left: 0;
margin-right: 0;
}
.controller{
    position: fixed;
    background-color: #252424;
    margin: 0 auto;
    bottom: 0;
    left: 0;
    right: 0;
    height: 5vh;
    width: 100%;
    overflow: hidden;
}

.controller input{
 width: 100%;
cursor: pointer;
}

  .blink-quick {
    animation: blinker 1.5s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0.5;
    }
  }



@media screen and (min-width: 48rem){
    body{
        background-size: cover;
    }
    .object{
        margin-top: 25%;
     }
     .objects img{
         height: 5rem;
     }
     .basket img{
        width: 20rem;
        height: 20rem;
     }
}

@media screen and (width: 375px) and (width: 375px){
    .object{
        margin-top: 75%;
     }
   
}
@media screen and (width: 768px) and (width: 768px){
    .object{
        margin-top: 45%;
     }
    }

    @media screen and (width: 639px) and (width: 639px){
        body{
            background-size: cover;
        }
        .basket img{
            width: 7rem;
            height: 7rem;
         }
        }



        