
body{
    overflow: hidden;
}
.container{
height: 100vh;
background-image: url('../images/tree.png') ;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
display: flex;
flex-direction: row;
text-align: center;  
align-items: center; 
}
img{
    height: 1.8rem;
}

.objects{     
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 25rem;
}
.object img{
    height: 2rem;
    top: 7rem;   
}


.basket{
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 5rem; 
  background: #0a0a0a;
  opacity: 0.9;
  text-align: center;
}

.basket img{      
    height: 5rem;  

}

