
body{
height: 100vh;
width: 100vw;
overflow: hidden;
background-image: url('../images/tree.png') ;
background-position: center;
background-repeat: no-repeat;
background-size: contain;
}
.container{
height: 100%;
width: 100%;
margin: 0 auto;
overflow: hidden;

}
img{
    height: 1.8rem;
}

.objects{     
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: 0 auto;
  
}
.object{
   margin-top: 50%;
}
.object img{    
    height: 2rem;
    top: 7rem;   
}


.basket{

}

.basket img{      
    height: 5rem;  

}

@media screen and (min-width: 48rem){
    body{
        background-size: cover;
    }
    .object{
        margin-top: 5%;
     }
     .objects img{
         height: 5rem;
     }
}

@media screen and (width: 375px) and (width: 375px){
    .object{
        margin-top: 75%;
     }
   
}
@media screen and (width: 768px) and (width: 768px){
    .object{
        margin-top: 45%;
     }
    }